{% load static %}
<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <title>{% block title %}{% endblock %}</title>
      <link href="{% static "css/style1.css" %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navigationBar">
        <div class="logo">
            <a href="/"><img id="navBarLogo" src="{% static "images/LogosLibrary.png" %}"></a>
        </div>
        <div class="navigationBarLinks">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Requests</a></li>
                <li><a href="#"><img id="navBarAccount" src="{% static "images/Account Icon.png" %}"></a></li>
            </ul>
        </div>
    </nav>
    <nav class="searchBar">

    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
