body {
    margin: 0;
    padding: 0;
}
.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D3D3D3;
    color: #FFFFFF;
}
.navigationBarLinks ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navigationBarLinks li {
    list-style: none;
}
.navigationBarLinks li a {
    text-decoration: none;
    color: #000000;
    padding: 1rem;
    display: block;
}
.navigationBarLinks li:hover {
    background-color: #FFFFFF;
}
#navBarLogo {
    height: 49px;
}
#navBarAccount {
    height: 20px;
}